footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 0;
    gap: 1.5rem;
    background-color: hsl(168, 51%, 62%);
}
.filter-green {
    filter: invert(39%) sepia(16%) saturate(971%) hue-rotate(131deg) brightness(88%) contrast(98%);
}
footer ul {
    display: flex;
    gap: 2rem;
}
footer ul li {
    text-decoration: none;
    list-style: none;
    font-family: var(--barlow);
    font-size: 18px;
    color: hsl(168, 31%, 36%);
    cursor: pointer;
}
footer ul li:hover {
    color: var(--white);
}
.footer-social {
    display: flex;
    gap: 1.5rem;
    padding-top: 3rem;
}
.footer-social img:hover {
    cursor: pointer;
    filter: invert(100%) sepia(67%) saturate(15%) hue-rotate(217deg) brightness(103%) contrast(104%);
}